# Hypnosis

Some researchers claim that susceptibility to hypnosis can be acquired or improved through training.
To investigate this claim six subjects were rated on a scale of $1$-$20$ according to their initial susceptibility to hypnosis and then given $4$ weeks of training.
Each subject was rated again after the training period. In the ratings below, higher numbers represent greater susceptibility to hypnosis.

\begin{align*}
    \begin{array}{c|c|c}
        \hline
        \text{Subject} & \text{Before} & \text{After} \\
        \hline
        1 & 10 & 18 \\
        2 & 16 & 19 \\
        3 & 7  & 11 \\
        4 & 4  & 3  \\
        5 & 7  & 5  \\
        6 & 2  & 3  \\ \hline
    \end{array}
\end{align*}

Specify and perform the appropriate hypothesis test.
What potential issues exist with this analysis?

We use lecture 11, slide 34.

In [1]:
import numpy as np
from scipy import stats
import pandas as pd

In [3]:
data = pd.DataFrame({
    'Before': [10, 16, 7, 4, 7, 2],
    'After': [18, 19, 11, 3, 5, 3]
})
data

   Before  After
0      10     18
1      16     19
2       7     11
3       4      3
4       7      5
5       2      3

In [36]:
x = data['After'] - data['Before']
x

0    8
1    3
2    4
3   -1
4   -2
5    1
dtype: int64

In [13]:
alpha = 0.05

In [37]:
x_bar = x.mean()
x_bar

2.1666666666666665

In [35]:
s = x.std()
s

3.6560452221856705

In [8]:
n, _ = data.shape
n

6

In [9]:
mu_0 = 0
mu_0

0

In [39]:
x_bar, stats.t(n-1).ppf(1 - alpha / 2) * (s / np.sqrt(n))

(2.1666666666666665, 3.836784158693447)

Since $0$ is contained within the range of the confidence interval, we cannot reject the null hypothesis at significance level $\alpha = 0.05$.